.feature {
  flex: 0 0 30rem;
  margin: 3rem;

  display: grid;
  background-color: transparent;
  grid-template-columns: -webkit-min-content 1fr;
  grid-template-columns: min-content 1fr;
  grid-template-rows: -webkit-min-content 1fr;
  grid-template-rows: min-content 1fr;
  gap: 2rem;

  text-decoration: none;
  color: var(--color-grey);

  transform: translateY(0) scale(1);
  transition: all 0.2s;

  &:hover {
    transform: translateY(-1rem) scale(1.05);
  }
}

.icon {
  grid-row: 1 / span 2;

  fill: var(--color-primary);
  width: 5rem;
  height: 5rem;

  transition: all 0.2s;

  transform: translateY(-1rem);

  &-heat {
    transform: translateY(-1rem) rotate(-90deg) scaleX(-1);
  }
}

.title {
  font-size: 2rem;
  font-weight: 400;
}

.text {
  font-size: 1.5rem;
  font-weight: 400;

  align-self: top;
}
