.container {
  width: 90%;
  // display: grid;
  // grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
  // gap: 6rem;
  // align-items: start;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 4rem;
}
