.section-features {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--color-grey-light);
}

.title {
  font-size: 3rem;
  padding: 5rem 0 4rem 0;
  align-self: center;
}
