.btn {
  border: none;
  background-color: var(--color-white);
  height: 5rem;
  width: 5rem;
  border-radius: 50%;

  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: all 0.2s;

  &:hover {
    background-color: var(--color-primary);

    & .icon {
      fill: var(--color-white);
    }
  }
}

.icon {
  width: 2.5rem;
  height: 2.5rem;
  fill: var(--color-black);

  transition: fill 0.2s;
}
