@import "../../adaptive.scss";

.header {
  display: flex;
  align-items: stretch;
  align-content: center;
  justify-content: space-evenly;
  margin: 0 auto;

  @include respond(medium) {
    flex-wrap: wrap;
    margin-top: 1rem;
  }

  @include respond(small) {
    margin-top: 2rem;
  }
}
