@import "../../adaptive.scss";

.search {
  display: flex;
  align-items: center;
  flex: 0 0 25%;

  @include respond(medium) {
    flex: 0 0 60%;
  }

  @include respond(smaller) {
    flex: 0 0 90%;
    margin-top: 2rem;
  }
}

.input {
  border: none;
  background-color: var(--color-grey-light-2);
  padding: 1rem 1.5rem;
  border-radius: 3px;
  font-size: 1.6rem;

  width: 100%;

  transition: padding 0.2s;

  &:focus {
    outline: none;
    padding: 1.5rem 1.5rem;
  }

  &::-webkit-input-placeholder {
    color: var(--color-grey);
  }

  &::-moz-placeholder {
    color: var(--color-grey);
  }

  &:-ms-input-placeholder {
    color: var(--color-grey);
  }

  &::-ms-input-placeholder {
    color: var(--color-grey);
  }

  &::placeholder {
    color: var(--color-grey);
  }
}

.btn {
  background-color: transparent;
  border: none;
  margin-left: -4rem;

  cursor: pointer;
}

.icon {
  height: 2rem;
  width: 2rem;
}
