@import "../../adaptive.scss";

.nav-item {
  text-decoration: none;
  color: var(--color-white);
  text-transform: uppercase;
  font-size: 1.6rem;

  padding: 1.5rem 3rem;
  margin: 0 0.5rem;
  border-radius: 2px;

  transform: translateY(0);
  background-color: inherit;
  transition: all 0.2s;

  &:hover {
    transform: translateY(-0.3rem);
    background-color: var(--color-primary-dark-2);
  }

  @include respond(medium-small) {
    margin: 0;
  }
}
