.nav {
  flex: 0 0 40%;
  margin-right: 4rem;
  display: flex;
  align-items: stretch;
}

.list {
  flex: 1;
  display: flex;
  justify-content: space-around;
  align-items: stretch;

  list-style: none;
}
