* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #75b531;
  --color-primary-dark-1: #69a32c; /* primary-medium-dark */
  --color-primary-dark-2: #5e9127;
  --color-primary-dark-3: #527f22; /* primary-dark */
  --color-primary-dark-4: #466d1d; /* primary-darker */
  --color-primary-dark-5: #3b5b19;
  --color-black: #000;
  --color-grey-dark-2: #333; /* grey-darker */
  --color-grey-dark-1: #555; /* grey-dark */
  --color-grey: #888;
  --color-grey-light-1: #aaa; /* grey-medium-light */
  --color-grey-light-2: #eee; /* grey-light */
  --color-grey-light-3: #f8f8f8; /* grey-lighter */
  --color-white: #fff;
  --color-shadow: #0004;

  font-family: Ubuntu, Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 62.5%;

  background-color: var(--color-white);
  color: var(--color-grey);

  scroll-behavior: smooth;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
